.sidebar {
  width: 240px;
  background: #0f172a;
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;

  /* 🔑 FIX */
  height: 100vh;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

.logo {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  display: block;
  padding: 10px;
  color: #cbd5f5;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 4px;
}

nav a.active {
  background: #2563eb;
  color: white;
}

.menu-section {
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: 12px;
  text-transform: uppercase;
  color: #94a3b8;
}

/* DROPDOWN */
.dropdown-btn {
  background: none;
  border: none;
  color: #cbd5f5;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  margin-top: 8px;
}

.dropdown-btn:hover {
  background: #1e293b;
}

.dropdown {
  margin-left: 12px;
  margin-top: 4px;
}

.dropdown a {
  font-size: 14px;
}

.dropdown-btn {
  background: none;
  border: none;
  color: #cbd5f5;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  margin-top: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-btn:hover {
  background: #1e293b;
}

.arrow {
  font-size: 12px;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(90deg);
}
